{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block titulo %} Comentário da Postagem: {{ post.titulo }}  {% endblock %}

{% block conteudo %}
{% include 'includes/top.html' %}
<section data-bs-version="5.1" class="content10 cid-tzVgp39K95" id="content10-1">

    <div class="container">
        <div class="row justify-content-center border border-ligth">
            <div class="col-12">
                {% if user.is_authenticated %}
                <h6 class="mbr-section-subtitle mbr-fonts-style mb-4 display-3">
                    Comentando a Postagem {{ post.titulo }}
                </h6>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="usuario" name="nome" class="form-control" value="{{ user.get_full_name }}" readonly>
                        <input type="text" id="usuario" name="nome" class="form-control" value="{{ user.email }}" readonly>
                    </div>
                    <div class="form-group">
                        Escreva seu comentário abaixo:
                        <textarea type="text" id="usuario" name="nome" class="form-control"></textarea>
                    </div>            
                    <input type="submit" class="btn btn-primary mb-4" value="Enviar">
                </form>
                {% else %}
                    <h6 class="mbr-section-subtitle mbr-fonts-style mb-4 display-3">
                        Disponível apenas para usuários autenticados!!!
                    </h6>              
                    <p>
                        <a href="{% url 'listarposts' %}" class="btn btn-warning">
                            Voltar as postagens
                        </a>
                    </p>  
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}