{% load static %}
<section data-bs-version="5.1" class="header2 cid-tzVgfOnXBf mbr-parallax-background" id="header2-0">

    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);"></div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="mbr-section-title mbr-fonts-style mb-2 display-3"><strong>Blog Ifro 2023</strong></h1>

                <p class="mbr-text mbr-fonts-style display-7">Conteúdo de qualidade com quem entende do assunto!</p>
           </div>

        </div>
    </div>
</section>