{% load static %}
<div class="container">
    <div class="row">
        <div class="col-9">
            <img src="{% static 'assets/images/logo-IFRO.png' %}" alt="logotipo"
                 height="80%">
        </div>
        <div class="col-3">
                <h2><a href="{% url 'home' %}">Meu Blog</a></h2>
                <p>Este é o meu blog</p>
                {% if user.is_anonymous %}
                <p><a href="{% url 'cadusuario' %}" class="btn btn-success">
                    Cadastrar
                    </a>
                    <a href="{% url 'loginuser' %}" class="btn btn-primary">
                    Logar
                    </a>
                </p>
                {% else %}
                <p>Usuário: <span class="bg-light"> {{ user.username }} </span></p>
                <p><a class="btn btn-danger" href="{% url 'logoutuser' %}">Sair</a></p>                
                {% endif %}
        </div>
    </div>
</div>